<section class="w-full flex flex-col md:flex-row">
  <!-- Columna 1 -->
  <div class="w-full md:w-1/3 relative">
    <img src="assets/img/Producto2.avif" alt="Camisetas Alternativas" class="w-full h-full object-cover" />
    <a routerLink="/tienda" class="absolute bottom-4 left-4 bg-white bg-opacity-80 px-4 py-2 flex items-center">
      <span class="text-black uppercase text-sm">Camisetas Alternativas</span>
      <span class="ml-4 text-black">→</span>
    </a>
  </div>

  <!-- Columna 2 -->
  <div class="w-full md:w-1/3 relative bg-red-800 min-h-[300px]">
    <a routerLink="/foro" class="absolute bottom-4 left-4 bg-black bg-opacity-80 px-4 py-2 flex items-center">
      <span class="text-white uppercase text-xs md:text-sm">Únete a la Comunidad</span>
      <span class="ml-2 text-white">→</span>
    </a>
  </div>

  <!-- Columna 3 -->
  <div class="w-full md:w-1/3 relative">
    <img src="assets/img/Producto3.avif" alt="Destacados Artísticos" class="w-full h-full object-cover" />
    <a routerLink="/destacados" class="absolute bottom-4 left-4 bg-white bg-opacity-80 px-4 py-2 flex items-center">
      <span class="text-black uppercase text-sm">Destacados Artísticos</span>
      <span class="ml-4 text-black">→</span>
    </a>
  </div>
</section>
<section class="w-full flex flex-col md:flex-row items-center justify-center py-16 px-4 md:px-20 bg-[#1c1c1c]">
  <!-- Texto -->
  <div class="w-full md:w-1/6 mb-8 md:mb-0 text-center md:text-left">
    <h2 class="text-4xl md:text-4xl font-extrabold tracking-widest text-white">
      DESCUBRE <br />
      NUESTRA <br />
      COLECCIÓN
    </h2>
  </div>

  <!-- Imagen -->
  <div class="w-full md:w-1/2 flex justify-center">
    <img src="assets/img/Producto4.avif" alt="Colección" class="max-w-xs h-96 md:max-w-sm border-4 border-white" />
  </div>
</section>


<section class="w-full flex flex-col md:flex-row items-center justify-between gap-8 px-6 md:px-20 py-16 bg-[#C7C7C7]">
  <!-- Texto -->
  <div class="w-full md:w-1/2 text-center md:text-left">
    <p class="text-base md:text-lg leading-relaxed mb-6 text-black">
      Somos una tienda de ropa alternativa con una temática guiada hacia lo artístico y bizarro.
      Nuestro producto principal son camisetas y accesorios que reflejan una estética única y original.
      <span class="block mt-2">
        <a routerLink="/tienda" class="text-black underline hover:text-red-600 transition">
          Haz clic aquí para explorar nuestra colección
        </a>
        y encontrar piezas que expresen tu estilo de forma auténtica.
      </span>
    </p>
    <a routerLink="/nosotros"
      class="inline-block px-8 py-3 border border-black text-black font-medium tracking-widest hover:bg-black hover:text-white transition">
      EXPLORAR
    </a>
  </div>
</section>
